<html>
    <head>
        <title>buy</title>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <!-- Custom Theme files -->
        <link href="css/style.css" rel='stylesheet' type='text/css' />
        <script src="js/jquery.easydropdown.js"></script>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <!-- Google Fonts -->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>
        <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){		
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
        </script>
        </head>
    <!-- Buy Starts Here -->
	
		<div class="buy-g" id="buy">
			<div class="container">
				<div class="buy-g-top">
					<h3>buy the north face alloy jacket now - <span>save 25%</span></h3>
				</div>
				<div class="row buy-g-row">
					<div class="col-md-4 buy-g-col">
						<!--  Slider 2 Starts Here -->
						<div  id="top" class="callbacks_container">
						  <ul class="rslides" id="slider2">
							<li>
								<div class="shirt-slide">
									<img src="<%=mobiles.filepath %>" alt="">
									
								</div>
							</li>
							
						  </ul>
						</div>
						<script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider2").responsiveSlides({
								auto: true,
								pager: true,
								nav: true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });
						
							});
						  </script>
						
					</div>
					<div class="col-md-8 buy-g-col">
					
						<!-- Tabs -->
						<div class="sap_tabs">	
						 <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
							  <ul class="resp-tabs-list">
									<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Step 1: Choose</span></li>
								  
								  <div class="clearfix"></div>
							  </ul>				  	 
								<div class="resp-tabs-container">
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="facts">
											<!-- Choose -->
											<form action="command" method="POST">
 											  <div class="clearfix"></div>
											  <div class="form-head">
													<div>
														<input type="text" value="<%=mobiles.id%>" name="id" hidden>
														<span class="user-icon"></span>
														<input type="text" placeholder="Quantity" required name="quantity" name="quantity"/>
													</div>
												</div>
										
												<div class="clearfix"></div>
												<div class="delivery">
													<h4>Select Booking Date</h4>
												
														<select class="date" name="date">
															<option>Date</option>
															<option>aprés une semaine</option>
															<option>aprés un mois</option>
															
														</select>
													
												</div>
												<div class="delivery">
													<h4>pay assurance 34 euro/mois</h4>
												
														<select class="date" name="assurance">
															
															<option>yes</option>
															<option>no</option>
															
														</select>
													
												</div>
												
												<div class="payment">
													<h4>Payment Options</h4>
													<div class="card">
														<p>Card Options</p>
														<input type="radio" name="1"/> Visa
														<input type="radio"  name="1"/> Master card
														<input type="radio" name="1"/> Aviex
													</div>
													<div class="card cardy">
														<p>Card Holder's Name</p>
														<input type="text" placeholder="Name" required="" id="holder"/>
													</div>
													<div class="card cardy">
														<p>Card number</p>
														<input type="text" placeholder="Number" required="" />
													</div>
													<div class="clearfix"></div>
													<div class="card cardy">
														<p>Card Expiry Date</p>
														<select class="month">
																<option>Month</option>
																<option>Jan</option>
																<option>Feb</option>
																<option>Mar</option>
																<option>Apr</option>
																<option>May</option>
																<option>June</option>
																<option>July</option>
																<option>Aug</option>
																<option>Sept</option>
																<option>Oct</option>
																<option>Nov</option>
																<option>Dec</option>
															</select>
															<select class="Year">
																<option>Year</option>
																<option>2014</option>
																<option>2013</option>
																<option>2012</option>
																<option>2011</option>
																<option>2010</option>
																<option>2009</option>
															</select>
													</div>
													<div class="card cardy">
														<p>Enter Cv2 Number</p>
														<input type="text" placeholder="CVV" required=""/>
													</div>
													<div class="clearfix"></div>
													
												</div>
												<div class="confirm">
													<h4>Contfirm The Deal</h4>
													<p> Please click the check Box to confirm Your Deal</p>
													 <a class="news-letter" href="#">
														<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Confirm Your Deal</label>
													  </a>
													  <div class="cleafix"></div>
													  <div class="step-d">
														   <input type="submit" value="Submit" />
													   </div>
													</form>
												</div>
												
												
										</div>
									 </div>	
									   
									
									
								 </div>
							  </div>
						 </div>
						 <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
							<script type="text/javascript">
								$(document).ready(function () {
									$('#horizontalTab').easyResponsiveTabs({
										type: 'default', //Types: default, vertical, accordion           
										width: 'auto', //auto or any width like 600px
										fit: true   // 100% fit in a container
									});
								});
							   </script>
								   <!-- Reviews Ends Here -->
		<script src="js/responsiveslides.min.js"></script>
		<script>
		   // You can also use "$(window).load(function() {"
		   $(function () {
			 // Slideshow 4
			 $("#slider4").responsiveSlides({
			   auto: true,
			   pager: true,
			   nav: true,
			   speed: 500,
			   namespace: "callbacks",
			   before: function () {
				 $('.events').append("<li>before event fired.</li>");
			   },
			   after: function () {
				 $('.events').append("<li>after event fired.</li>");
			   }
			 });
	   
		   });
		 </script>
	<!----//End-slider-script---->
	
					 <!-- Tabs -->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

	
	<!-- Buy Ends Here -->
</html>