<html>
    <!-- Footer Starts Here -->
	<div class="footer">
		<div class="container">
			<div class="row footer-row">
				<div class="col-md-3 footer-column">
					<h3>about  Mobilia</h3>
					<p>Application web destiné pour location des telephones portables a des prix inbattables </p>
					
				</div>
				<div class="col-md-5 footer-column">
					<h3>Informations contact </h3>
					<p class="dt">Adresse :</p>
					<p>29200,Brest,France</p>
					<p>Tel: 0800 111 111</p>
					<p class="em">Email: <a href="admin@gmail.com">admin@gmail.com</a></p>
				</div>
				<div class="col-md-4 footer-column">
					<h3>Follow us</h3>
					<ul class="social">
						<li><i class="ft-fa"></i></li>
						<li><i class="ft-fb"></i></li>
						<li><i class="ft-fc ft-act"></i></li>
						<li><i class="ft-fd"></i></li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<p class="copyright">2021 - Warda Nemmar</a></p>
				<script type="text/javascript">
					$(document).ready(function() {
						/*
						var defaults = {
				  			containerID: 'toTop', // fading element id
							containerHoverID: 'toTopHover', // fading element hover id
							scrollSpeed: 1200,
							easingType: 'linear' 
				 		};
						*/
						
						$().UItoTop({ easingType: 'easeOutQuart' });
						
					});
				</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

			</div>
		</div>
	</div>
	<!-- Footer Ends Here -->
</html>