<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="login.css">
  </head>
  <body>
    
<% if (flashMessages) { %>
  <%if (flashMessages.error) { %>
<div class="alert  alert-danger alert-dismissible fade show" role="alert">
  <strong>OPPS!</strong><%= flashMessages.error %>
  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %>
<% } %>

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
         
            <img src="images/logo.png" width="80px" height="80px">
         
        
        </div>
    
        <!-- Login Form -->
        <form action="/forget_password" method="POST">
          <input type="text" id="login" class="fadeIn second" name="email" placeholder="email">
          
          <input type="submit" class="fadeIn fourth"  value="save">
        </form>
    
        
        
    
      </div>
    </div> 
  </body>
</html>

